<!--Navbar-->
<nav class="navbar navbar-expand-lg navbar-dark warning-color lighten-5">
  <!-- Navbar brand -->
  <a class="navbar-brand" style="font-family: Nanum Square;">🧡🧡🧡</a>

  <!-- Collapse button -->
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#basicExampleNav"
    aria-controls="basicExampleNav"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Collapsible content -->
  <div class="collapse navbar-collapse" id="basicExampleNav">
    <!-- Links -->
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/list" style="font-family: Nanum Square;"
          >모아 보기
          <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/stat" style="font-family: Nanum Square;"
          >통계 보기</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/profile" style="font-family: Nanum Square;"
          >내 정보</a
        >
      </li>
    </ul>
    <!-- Links -->
  </div>
  <!-- Collapsible content -->
</nav>
<!--/.Navbar-->
