<!DOCTYPE html>
<html lang="en">
  <%- include("../header"); %>
  <body>
    <%- include("../menu"); %>
    <form id="createForm">
      <!-- Material input -->
      <div class="md-form">
        <input type="text" id="singer" class="form-control" required />
        <label for="singer">Input Singer</label>
      </div>
      <div class="md-form">
        <input type="text" id="title" class="form-control" required />
        <label for="title">Input Title</label>
      </div>
      <button type="submit" class="btn aqua-gradient">
        저장
      </button>
    </form>
    <%- include("../footer"); %>
    <script>
      $(function () {
        $("#createForm").submit((event) => {
          event.preventDefault();
          // 등록
          const singer = $("#singer").val();
          const title = $("#title").val();
          $.ajax({
            url: "/api/music",
            type: "POST",
            data: { singer, title },
          })
            .done(() => {
              location.href = "/api/music";
            })
            .fail((request, status, error) => {
              alert(request.responseText);
            });
        });
      });
    </script>
  </body>
</html>
